.player-card {
  margin: 10px;
  border: solid 3px blue;
  height: 35vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.team-logo {
  height: 50%;
  width: 50%;
  padding-bottom: 2%;
  border-bottom: solid 2px black;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: wrap;
  align-items: center;
}

.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}