.player-card {
  margin: 10px;
  border: solid 3px blue;
  height: 40vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: white;
  font-family: cursive;
  box-shadow: 3px 3px 3px black;
  min-width: 141px;
  min-height: 302px;
}

.player-card:hover {
  transform: scale(1.1);
}

.team-logo {
  height: 50%;
  width: 50%;
  padding-bottom: 2%;
  border-bottom: solid 2px black;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: wrap;
  align-items: center;
}

.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.save-btn {
  margin: 1em;
  font-family: cursive;
  background: transparent;
  border: none;
  border-radius: 20px;
}

.save-btn:hover {
  background: lightblue;
  cursor: pointer;
}

.save-card-message {
  font-family: cursive;
  color: white;
  font-size: 5vh;
}