.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-player-card {
  height: 80vh;
  width: 25vw;
  margin: 5%;
}

.my-image {
  height: 45%;
  width: 100%;
  border: solid 1px black;
}

.my-info {
  font-size: medium;
  height: 55%;
  width: 100%;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  align-items: center;
}