.team-container {
  border: solid 3px black;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.team-card {
  padding-top: 2%;
  border: solid 3px blue;
  height: 30vh;
  width: 12vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-image {
  height: 80%;
}